@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Roboto", "sans-serif";
}

a {
  color: var(--color-blue-600);
  text-decoration: underline;
}
