@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #f1c3b8;
  --color-txt: #19227d;
}

body {
  background-color: var(--color-bg);
  color: var(--color-txt);
  line-height: 1.6;
}

a {
  color: var(--color-txt);
}

@media (hover: hover) {
  a:hover {
    text-decoration: none;
  }
}
